{
	/* security section not supported, yet */
	"security": {
		"jails": {
			/* 
 			 * admin array means jails that are allowed to
			 * administer the in-kernel ruleset
			 */
			"admin": [ "test-jail-01" ],

			/* 
 			 * view array means jails that are only
			 * allowed to view their own ruleset.
			 */
			"view": [ "test-jail-02" ],
		}
	},
	"applications": [
		{
			"path": "/bin/ls",
			"features": {
				"aslr": false,
			}
		}
	],
	"integriforce": {
		"enforcing": "soft",
		"files": [
			{
				"path": "/bin/ls",
				"hash":
"bc65cd516077173d58a3d430cbab1a6178f4ee1d24a89e5c76f2d107b1d385ec",
				"hash_type": "sha256"
			},
			{
				"path": "/tmp/ls",
				"hash":
"a023ca4f6235d5216b4a2cf9effe98a5a76aaa6b",
				"hash_type": "sha1",
				"enforcing": "hard"
			}
		]
	}
}
