{
	/* security section not supported, yet */
	"security": {
		"jails": {
			/* 
 			 * admin array means jails that are allowed to
			 * administer the in-kernel ruleset
			 */
			"admin": [ "test-jail-01" ],

			/* 
 			 * view array means jails that are only
			 * allowed to view their own ruleset.
			 */
			"view": [ "test-jail-02" ],
		}
	},
	"applications": [
		{
			"path": "/bin/ls",
			"features": {
				"mprotect": false,
				"aslr": false,
			}
		}
	],
	"integriforce": {
		"enforcing": "soft",
		"files": [
			{
				"path": "/bin/ls",
				"hash":
"ae39487665421d9e0ea877918a39da0c173d6674143023c3ccccc18c586f6739",
				"hash_type": "sha256"
			}
		]
	}
}
