secadm {
	pax {
		path: "/usr/local/lib/firefox/firefox-bin",
		pageexec : false,
		mprotect: false,
	},
	pax {
		path: "/usr/local/lib/firefox/firefox",
		pageexec : false,
		mprotect: false,
	},
	pax {
		path: "/usr/local/bin/firefox",
		pageexec : false,
		mprotect: false,
	},
	pax {
		path: "/usr/local/openjdk7/bin/java",
		pageexec: false,
		mprotect: false,
	}
}
